<ul class="nav nav-tabs">
  <li role="presentation" class="active"><a href="/">Home</a></li>
  <li role="presentation"><a href="/user/show">Profile</a></li>
  <li role="presentation"><a href="games/index">Games</a></li>
</ul>


<h1>POST UP</h1>
<p>All your sports chatter, all in one place. </p> 

<%= link_to 'Sign In', sign_in_path, class: 'btn btn-success' %>
