<h1>Upcoming NBA lineup</h1>
<div class="container">
  <h3>What's on tap for the NBA this week:</h3>
  <p class="small">Looking for games from last week? Check the Archive or check your profile for the games you've commented on.</p>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Home Team</th>
        <th>Away Team</th>
        <th>Game Time (date/time)</th>
      </tr>
    </thead>
  </table>
</div>

